# Entornos virtuales
venv/
/venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpetas de distribución y compilación de PyInstaller
dist/
build/
*.spec

# Archivos de configuración local (si los hubiera)
.env

# Archivos de documentación interna que no deben subirse
plan.md